.maina{
    display: flex;
    justify-content: space-around;
    background-color: royalblue;
   
  
}
.mainb{
    display: flex;
    background-color: honeydew;
    justify-content: space-around;
    min-width: 50px;
    max-width: 1000px;
    flex-wrap: wrap;

}

.maind{
    background-color: royalblue;
    margin: 2px 2px 2px 2px;

}
.maine{
    margin: 2px 2px 2px 2px;
    background-color: ivory;
    border: 1px solid grey;
}
.mainf{
    display: flex;
    justify-content: space-evenly;
    background-color: royalblue;
   
  
}
.maing{
    border: inset;
    background-color: rgb(248, 244, 244);
}
.mainh{
    display: flex;
    flex-wrap: wrap;
}
.main8{
    margin-top: 10px;
}
.main9{
    display: flex;
    justify-content: center;
   
   
    
}
.main10{
    display: flex;
    justify-content: left;
    
    

}
.main11{
    display: flex;
    justify-content: space-around;
   

}
.main12{
    display: flex;
    justify-content: flex-end;
    
}
.text{
    font-size: xx-small;
    color: white;
    margin:7px;
   
}
.text1{
    display: inline-block;
    text-transform: uppercase;
    color: blue;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    padding-top: 25px;
}
.text2{
    display: inline-block;
    text-transform: uppercase;
    color: green;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    font-weight: bold;
    padding-top: 25px;
}
.text3{
    color: black;
    font-size: xx-small;
    font-family: sans-serif;
    text-align: center; 
    
}
.text4{
    color: white;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}
.text5{
    color: white;
    text-transform: uppercase;
    font-size: small;
    text-align: center;
}
.text6{
    color:royalblue;
    font-weight: bold ;
    font-size: small;
    font-family:serif;
    text-transform: uppercase;
    text-align: center;
}
.text7{
    color:royalblue;
    font-weight: bold ;
    font-size: small;
    font-family:serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    margin-left: 3px;
}
.text8{
    display: inline-block;
    color: royalblue;
    /* padding: 5px 5px 5px 5px; */
    text-transform: uppercase;
    font-size: 8px;
  
}


.b1{
    font-size: xx-small;
    background-color: white;
    padding: 2px;
    color: teal;
}
.logo:hover{
    background-color: rgba(21, 21, 151,0.5);
    cursor:pointer;

}
.logo6{
    margin-right: 20px;
}
.logo8{
    padding: 10px 2px 5px 2px;
}
.logo8:hover{
    cursor: pointer;
}


.b1:hover{
    cursor: pointer;
}
.b1{
    
    border: solid 1px teal;
    font-size: 6px; 
}
.link{
    color: black;
    display:inline-block;
    justify-content: end;
    list-style: none;
    font-size: 8px;
}
.link:hover{
    background-color: royalblue;
    opacity: 0.5;
    color: white;
    border-radius: 8px;
}
.slide1{
    background-color: royalblue;
    color: white;
    font-size: x-small;
    text-align: center;
}
.slide2{
    background-color: white;
    font-family: cursive;
    font-size: 8px;
    color: gray;
}
.container1{
    
    background-color: honeydew;
    box-shadow: 5px 8px 5px lightslategray;
    margin: 10px 10px 10px 10px;
    width: 600px;
    text-align: center;
    
}
.container2{
    background-color: #f2f2f2;
    border: 1px solid gainsboro;
    padding: 2px 100px 2px 2px;
    margin:5px 4px 5px 4px ;
   min-width:fit-content;
   max-width: 200px ;
    
}
.container3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}



